#pattern  filter=crypt diff=crypt merge=crypt
#
secrets/*  filter=crypt diff=crypt merge=crypt
zsh/dot-zsh_history  filter=crypt diff=crypt merge=crypt
bin/dot-local/bin/work_setup  filter=crypt diff=crypt merge=crypt
ssh/dot-ssh/*  filter=crypt diff=crypt merge=crypt
leetcode/dot-leetcode/leetcode.toml filter=crypt diff=crypt merge=crypt
